<% _addAsset('javascript','javascript/toggle-password.js') %>

<div class="input-group ">
  <input 
    type="password" 
    value="<%= _get('value','') %>" 
    placeholder="<%= _get('placeholder','') %>" 
    name="<%= _get("name",'') %>" 
    class="input <%=  _if(_get('error',false),'is-invalid')   %>" 
    id="<%= _get("id",'') %>"  
  />
  <span class="input-group-text">
    <button type="button" data-toggle-password='{ "target": "#<%= _get("id",'') %>" }' class="block" aria-label="password toggle">
      <span class="icon-[tabler--eye] text-base-content/80 password-active:block hidden size-5 flex-shrink-0"></span>
      <span class="icon-[tabler--eye-off] text-base-content/80 password-active:hidden block size-5 flex-shrink-0"></span>
    </button>
  </span>
</div>
