<%- include('ui/header.html') %>
<% _addAsset('javascript','javascript/overlay.js') %>
<% _addAsset('javascript','javascript/collapse.js') %>
<div class="">
  <div class="bg-base-200">
    <button type="button" class="btn btn-text max-sm:btn-square sm:hidden" aria-haspopup="dialog" aria-expanded="false" aria-controls="default-sidebar" data-overlay="#default-sidebar" >
      <span class="icon-[tabler--menu-2] size-5"></span>
    </button>
    
  </div>
  
  <aside id="default-sidebar" class=" bg-base-200 p-4 overlay sm:shadow-none overlay-open:translate-x-0 drawer drawer-start hidden max-w-72 sm:absolute sm:z-0 sm:flex sm:translate-x-0" role="dialog" tabindex="-1" >
    <div class="drawer-header sm:hidden p-0">
      <h3 class="drawer-title"></h3>
      <button type="button" class="btn btn-text btn-circle btn-sm " aria-label="Close" data-overlay="#default-sidebar">
        <span class="icon-[tabler--x] size-5"></span>
      </button>
    </div>
    <div class="drawer-body p-0 ">
      
      <ul class="menu menu-sm p-0 bg-base-200 space-y-0.5">
        <li>
          <a href="#">
            <span class="icon-[tabler--layout-dashboard] size-5"></span>
            Dashboard
          </a>
        </li>
        <li>
          <button type="button" class="collapse-toggle mb-0.5" data-collapse="#user-submenu">
            <span class="icon-[tabler--shield-half] size-5"></span>
           
              Auth
            <span class="icon-[tabler--chevron-down] collapse-open:rotate-180 size-4"></span>
          </button>
          <ul id="user-submenu" class="space-y-0.5">
            <li>
              
              <a href="">
                <span class="icon-[tabler--users] size-5"></span>
                Users
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon-[tabler--file-settings] size-5"></span>
                Roles
              </a>
            </li>
            <li>
              
              <a href="">
                <span class="icon-[tabler--key] size-5"></span>
                Permission
              </a>
            </li>
          </ul>
        </li>
        
      </ul>
    </div>
    <div class="drawer-footer">
      this si footer
    </div>
  </aside>
</div>
  

  <%- include('ui/footer.html') %>