<%- include('ui/header.html') %>
<%- include('ui/nav-header.html') %>
    <div class="min-h-screen flex items-center justify-center">
        <form action="/signup" method="POST" class="w-full max-w-sm  m-4">
            <div>
                <h1 class="text-4xl font-bold ">Signup</h1>
                <p class="text-sm text-base-content/50  lowercase">please type your login credential to unlock pages.</p>
            
            </div>
            <div class="mt-4">
                
                
                <div class="grid grid-cols-2 gap-2">
                    <fieldset class="fieldset ">
                        <legend class="fieldset-legend <%= input.firstname.error ? 'text-error':'' %>" for="firstname">Firstname</legend>
                        <input 
                            type="text" 
                            class="input w-full <%= input.firstname.error ? 'input-error':'' %>" 
                            name="firstname" 
                            id="firstname" 
                            value="<%= input.firstname.value %>" 
                        />
                        <% if(input.firstname.error){ %>
                            <p class="fieldset-label text-error"><%= input.firstname.error %></p>
                        <% } %>
                    </fieldset>
                    <fieldset class="fieldset ">
                        <legend class="fieldset-legend <%= input.lastname.error ? 'text-error':'' %>" for="lastname">lastname</legend>
                        <input 
                            type="text" 
                            class="input w-full <%= input.lastname.error ? 'input-error':'' %>" 
                            name="lastname" 
                            id="lastname" 
                            value="<%= input.lastname.value %>" 
                        />
                        <% if(input.lastname.error){ %>
                            <p class="fieldset-label text-error"><%= input.lastname.error %></p>
                        <% } %>
                    </fieldset>
                    <fieldset class="fieldset p-4 col-span-4 flex flex-wrap gap-4 border border-base-300 rounded-box w-full">
                        <legend class="fieldset-legend">Gender</legend>
                        <label class="fieldset-label">
                            <input type="radio" name="gender" class="radio radio-sm" />
                            Male
                        </label>
                        <label class="fieldset-label">
                            <input type="radio" name="gender" class="radio radio-sm" />
                            Female
                        </label>
                        
                        <label class="fieldset-label">
                            <input type="radio" checked name="gender" class="radio radio-sm" />
                            Rather not say
                        </label>
                    </fieldset>
                        
                </div>
                <fieldset class="fieldset ">
                    <legend class="fieldset-legend <%= input.email.error ? 'text-error':'' %>" for="email">Email</legend>
                    <input 
                        type="text" 
                        class="input w-full <%= input.email.error ? 'input-error':'' %>" 
                        name="email" 
                        id="email" 
                        value="<%= input.email.value %>" 
                    />
                    <% if(input.email.error){ %>
                        <p class="fieldset-label text-error "><%= input.email.error %></p>
                    <% } %>
                </fieldset>
                <fieldset class="fieldset " x-data="{show:false}">
                    <legend class="fieldset-legend <%= input.password.error ? 'text-error':'' %>" for="password">Password</legend>
                    <input x-bind:type="show?'text':'password'" class="input w-full <%= input.password.error ? 'input-error':'' %>" name="password" id="password" value="<%= input.password.value %>" placeholder="Type here" />
                    <div class="flex ">
                        <input x-on:change="show = $el.checked" x-init="$el.checked = show" type="checkbox" class="checkbox checkbox-sm">
                        <label for="hs-toggle-password-checkbox" class="text-sm text-gray-500 ms-3 dark:text-neutral-400">Show password</label>
                    </div>
                    <% if(input.password.error){ %>
                        <p class="fieldset-label text-error"><%= input.password.error %></p>
                    <% } %>
                    
                </fieldset>
            </div>
            <div class="mt-4">
                <button class="btn btn-primary w-full">Signup</button>
                <p class="mt-1 text-center">
                    Already have an account? <a href="/signin" class="link link-hover link-primary">Sign in</a>
                </p>
                
            </div>

          

        </form>
    </div>  

<%- include('ui/footer.html') %>
